
<div class="mt-auto">
<footer class="bg-dark text-center text-white mt-auto">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-2 m-md-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-2 m-md-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-2 m-md-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-2 m-md-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- discord -->
      <a class="btn btn-outline-light btn-floating m-2 m-md-1" href="#!" role="button"
        ><i class="fab fa-discord"></i
      ></a>

      <!-- youtube -->
      <a class="btn btn-outline-light btn-floating m-2 m-md-1" href="#!" role="button"
        ><i class="fab fa-youtube"></i
      ></a>

      <!-- twitch -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitch"></i
      ></a>


    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">

    <a class="text-white text-decoration-none" href="/home">GAMEON</a>
  </div>
  <!-- Copyright -->
</footer>
</div>